:root {
  --base-hue: 25;
  --base-sat: 45%;
  --clr-10: hsl(var(--base-hue), var(--base-sat), 10%);
  --clr-11: hsl(var(--base-hue), var(--base-sat), 11%);
  --clr-12: hsl(var(--base-hue), var(--base-sat), 12%);
  --clr-15: hsl(var(--base-hue), var(--base-sat), 15%);
  --clr-20: hsl(var(--base-hue), var(--base-sat), 20%);
  --clr-25: hsl(var(--base-hue), var(--base-sat), 25%);
  --clr-30: hsl(var(--base-hue), var(--base-sat), 30%);
  --clr-33: hsl(var(--base-hue), var(--base-sat), 33%);
  --clr-40: hsl(var(--base-hue), var(--base-sat), 40%);
  --clr-50: hsl(var(--base-hue), var(--base-sat), 50%);
  --clr-60: hsl(var(--base-hue), var(--base-sat), 60%);
  --clr-70: hsl(var(--base-hue), var(--base-sat), 70%);
  --clr-80: hsl(var(--base-hue), var(--base-sat), 80%);
  --clr-85: hsl(var(--base-hue), var(--base-sat), 85%);
  --clr-90: hsl(var(--base-hue), var(--base-sat), 90%);
  --clr-95: hsl(var(--base-hue), var(--base-sat), 95%);
  --clr-99: hsl(var(--base-hue), var(--base-sat), 99%);
  --primary-lightness: 50%;
  --primary: hsl(var(--base-hue), var(--base-sat), var(--primary-lightness));
  --primary-75: hsla(var(--base-hue), var(--base-sat), var(--primary-lightness), 75%);
  --primary-50: hsla(var(--base-hue), var(--base-sat), var(--primary-lightness), 50%);
  --primary-33: hsla(var(--base-hue), var(--base-sat), var(--primary-lightness), 33%);
  --primary-25: hsla(var(--base-hue), var(--base-sat), var(--primary-lightness), 25%);
  --primary-15: hsla(var(--base-hue), var(--base-sat), var(--primary-lightness), 15%);
  --primary-10: hsla(var(--base-hue), var(--base-sat), var(--primary-lightness), 10%);
  --primary-5: hsla(var(--base-hue), var(--base-sat), var(--primary-lightness), 5%);
  --primary-0: hsla(var(--base-hue), var(--base-sat), var(--primary-lightness), 0%);
  --accent-hue: calc(var(--base-hue) + 315);
  --accent-lightness: 50%;
  --accent: hsl(var(--accent-hue), var(--base-sat), var(--accent-lightness));
  --accent-bright: hsl(var(--accent-hue), 65%, var(--accent-lightness));
  --accent-bright2: hsl(var(--accent-hue), 85%, var(--accent-lightness));
  --accent-bright3: hsl(var(--accent-hue), 85%, 85%);
  --accent-75: hsla(var(--accent-hue), var(--base-sat), var(--accent-lightness), 75%);
  --accent-50: hsla(var(--accent-hue), var(--base-sat), var(--accent-lightness), 50%);
  --accent-25: hsla(var(--accent-hue), var(--base-sat), var(--accent-lightness), 25%);
  --accent-15: hsla(var(--accent-hue), var(--base-sat), var(--accent-lightness), 15%);
  --accent-10: hsla(var(--accent-hue), var(--base-sat), var(--accent-lightness), 10%);
  --shadow-base-clr: var(--base-hue) var(--base-sat) 20%;
  --shadow-clr-1: hsl(var(--shadow-base-clr)/0.047);
  --shadow-clr-2: hsl(var(--shadow-base-clr)/0.067);
  --shadow-clr-3: hsl(var(--shadow-base-clr)/0.083);
  --shadow-clr-4: hsl(var(--shadow-base-clr)/0.103);
  --shadow-clr-5: hsl(var(--shadow-base-clr)/0.15);
  --shadow-medium: 0px 1.3px 2.7px var(--shadow-clr-1), 0px 3.2px 6.9px var(--shadow-clr-2), 0px 6.6px 14.2px var(--shadow-clr-3), 0px 13.5px 29.2px var(--shadow-clr-4), 0px 37px 80px var(--shadow-clr-5);
  --shadow-small: 0px 0.65px 1.35px var(--shadow-clr-1), 0px 1.5px 3.45px var(--shadow-clr-2), 0px 3.3px 7.1px var(--shadow-clr-3), 0px 6.75px 14.6px var(--shadow-clr-4), 0px 18.5px 40px var(--shadow-clr-5);
  --shadow-tiny: 0px 0.325px 0.675px var(--shadow-clr-1), 0px 0.75px 1.725px var(--shadow-clr-2), 0px 1.65px 3.55px var(--shadow-clr-3), 0px 3.375px 7.3px var(--shadow-clr-4), 0px 9.25px 20px var(--shadow-clr-5);
  --drop-shadow-medium: drop-shadow(0px 1.3px 2.7px var(--shadow-clr-1)) drop-shadow(0px 3.2px 6.9px var(--shadow-clr-2)) drop-shadow(0px 6.6px 14.2px var(--shadow-clr-3)) drop-shadow(0px 13.5px 29.2px var(--shadow-clr-4)) drop-shadow(0px 37px 80px var(--shadow-clr-5));
  --bg: #f9f4f0;
  --dark-preview: #06083d;
}

*,
:after,
:before {
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  --tw-border-opacity: 1;
  border-color: rgba(229, 231, 235, var(--tw-border-opacity));
  --tw-ring-inset: var(--tw-empty,
      /*!*/
      /*!*/
    );
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-blur: var(--tw-empty,
      /*!*/
      /*!*/
    );
  --tw-brightness: var(--tw-empty,
      /*!*/
      /*!*/
    );
  --tw-contrast: var(--tw-empty,
      /*!*/
      /*!*/
    );
  --tw-grayscale: var(--tw-empty,
      /*!*/
      /*!*/
    );
  --tw-hue-rotate: var(--tw-empty,
      /*!*/
      /*!*/
    );
  --tw-invert: var(--tw-empty,
      /*!*/
      /*!*/
    );
  --tw-saturate: var(--tw-empty,
      /*!*/
      /*!*/
    );
  --tw-sepia: var(--tw-empty,
      /*!*/
      /*!*/
    );
  --tw-drop-shadow: var(--tw-empty,
      /*!*/
      /*!*/
    );
  --tw-filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
  --tw-backdrop-blur: var(--tw-empty,
      /*!*/
      /*!*/
    );
  --tw-backdrop-brightness: var(--tw-empty,
      /*!*/
      /*!*/
    );
  --tw-backdrop-contrast: var(--tw-empty,
      /*!*/
      /*!*/
    );
  --tw-backdrop-grayscale: var(--tw-empty,
      /*!*/
      /*!*/
    );
  --tw-backdrop-hue-rotate: var(--tw-empty,
      /*!*/
      /*!*/
    );
  --tw-backdrop-invert: var(--tw-empty,
      /*!*/
      /*!*/
    );
  --tw-backdrop-opacity: var(--tw-empty,
      /*!*/
      /*!*/
    );
  --tw-backdrop-saturate: var(--tw-empty,
      /*!*/
      /*!*/
    );
  --tw-backdrop-sepia: var(--tw-empty,
      /*!*/
      /*!*/
    );
  --tw-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

.brand-item {
  padding-top: 96px;
}

.mod-con {
  width: 1200px;
  margin: 0 auto;
}

.mod-m-title {
  width: 100%;
  overflow: hidden;
  text-align: center;
  font-size: 30px;
  color: #2a2e2e;
  font-weight: normal;
}

.brief-text-box {
  width: 100%;
  margin-top: 52px;
  text-align: center;
  position: relative;
}

.brief-text-box h4 {
  font-size: 20px;
  color: #2A2E2E;
  letter-spacing: 0;
  text-align: left;
  line-height: 36px;
  font-weight: 400;
  margin: 16px auto;
}

.brief-text-box .desc-tr {
  font-size: 16px;
  color: #5F6464;
  letter-spacing: 0;
  text-align: left;
  line-height: 24px;
  width: 100%;
  margin: 16px auto;
}

.wish {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.mission {
  background: #FBFBFB;
  height: 312px;
  width: 100%;
  position: relative;
  margin-top: 96px;
  padding: 60px 96px;
  box-sizing: border-box;
}

.mission .l-mess {
  float: left;
}

.mission .l-mess .label {
  font-size: 30px;
  color: #2A2E2E;
  letter-spacing: 0;
}

.mission .r-mess {
  float: right;
  width: 390px;
  height: 190px;
  position: relative;
}

.mission .r-mess:before {
  content: ' ';
  width: 1px;
  position: absolute;
  left: -60px;
  top: 0;
  display: block;
  bottom: 0;
  background: #D8D9DC;
}

.mission .r-mess .label {
  font-size: 20px;
  color: #2A2E2E;
  letter-spacing: 0;
  line-height: 36px;
}

.mission .r-mess .desc-tr {
  font-size: 14px;
  color: #5F6464;
  letter-spacing: 0;
  line-height: 25px;
  margin-top: 16px;
}

.mission .r-mess .desc-tb {
  font-size: 14px;
  color: #5F6464;
  letter-spacing: 0;
}

.mission .text-bg {
  width: 600px;
  position: absolute;
  /* left: 40px; */
  bottom: -28px;
  opacity: 0.05;
}

.framework-wrap {
  background: #FBFBFB;
  margin-top: 20px;
  padding: 80px 0;
  width: auto;
  margin-left: 20px;
  margin-right: 20px;
}

.framework-wrap .label-box h3 {
  font-size: 30px;
  color: #2a2e2e;
  font-family: 'PingFangSC-Regular',
    'helvetica neue',
    'tahoma',
    'PingFang SC',
    'microsoft yahei',
    'arial',
    'hiragino sans gb',
    'sans-serif',
    '-apple-system',
    'BlinkMacSystemFont',
    'Segoe UI',
    'Roboto',
    ' Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    ' Droid Sans',
    'Helvetica Neue',
    ' sans-serif';
  box-sizing: border-box;
  font-weight: normal;
}

.framework-box {
  width: 100%;
  margin-top: 38px;
  text-align: center;
}

.framework-box .compy {
  text-align: center;
  margin-top: 12px;
  position: relative;
  margin-bottom: 64px;
  font-size: 30px;
  color: #0052D9;

}

.framework-box .list-ul {
  width: 100%;
  position: relative;
}

.framework-box .compy:after {
  content: ' ';
  height: 26px;
  width: 2px;
  background: #D8D9DC;
  position: absolute;
  bottom: -38px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
}

.framework-box .list-ul:before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 83.66%;
  top: -26px;
  height: 2px;
  background: #D8D9DC;
  display: block;
}

.framework-box .list-ul .li {
  width: 16.25%;
  background: #F2F3F5;
  padding: 32px 10px;
  box-sizing: border-box;
  text-align: center;
  float: left;
  margin-left: 0.5%;
  position: relative;
  cursor: pointer;
  -webkit-transition: background-color 0.2s linear;
  -moz-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  -webkit-transition: background-color 0.2s linear;
  -ms-transition: background-color 1s linear;
}

.framework-box .list-ul .li:before {
  content: ' ';
  height: 26px;
  width: 2px;
  background: #D8D9DC;
  position: absolute;
  top: -26px;
}


.framework-box .list-ul .li .val {
  font-size: 14px;
  color: #5F6464;
  letter-spacing: 0;
  line-height: 25px;
}

.framework-box .list-ul .li:first-child {
  margin-left: 0;
}

.framework-box .list-ul .li .label {
  font-size: 30px;
  color: #0052D9;
  letter-spacing: 0;
}

.framework-box .li-mess-box {
  width: 100%;
  margin-top: 48px;
  background: #fff;
  position: relative;
}

.framework-box .li-mess-box .mess-text {
  padding: 32px 42px;
  display: none;
  font-size: 14px;
  color: #5F6464;
  letter-spacing: 0;
  line-height: 25px;
  text-align: left;
  opacity: 0;
  transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  -webkit-transition: opacity 0.2s linear;
  -ms-transition: opacity 1s linear;
}

.framework-box .li-mess-box .active-mess {
  opacity: 1;
  display: block;
}

/* Team */
.team {
  background-size: 50%;
  background-repeat: space;
  max-width: 1200px;
  margin: auto;
}

.team section:not(.more-tools, .the-templates) {
  margin-top: 6rem;
  max-width: 36rem;
  border-radius: 1rem;
  padding: 2rem 1.5rem;
  background-color: var(--clr-10);
  box-shadow: var(--shadow-medium);
  color: var(--clr-70);
}

.rotate-1 {
  --tw-rotate: 1deg;
  margin-right: 2rem
}

.rotate-2,
.rotate-1 {
  transform: var(--tw-transform);
}

.m-auto {
  margin-top: -0.25rem;
  margin: auto;
  max-width: 100%;
  height: auto;
}

section.subtitle {
  background-size: 200%;
  background-position: 80% 70%;
  overflow: hidden;
  z-index: 1;
}

.rotate-2 {
  --tw-rotate: -2deg;
}

.subtitle {
  margin-top: 0 !important;
}

.text-center {
  text-align: center;

}

.cross-arrow {
  width: 20rem;
  margin: 0 auto;
}

.arrow-2 {
  margin: 0 auto;
  transform: scaleX(-1);
  position: relative;
  width: 20rem;
  text-align: center;
  z-index: -1;
}

.arrow-2 img {
  max-width: 100%;
  height: auto;
}

section.subscribe {
  background-size: 300%;
  background-position: 100% 0;
  transform: var(--tw-transform);
  --tw-rotate: -1deg;
  margin-top: 0 !important;
  margin-bottom: 30px;

}

@media(min-width:640px) {
  .text-2xl {
    font-size: 1rem;
    line-height: 2rem;
    text-transform: lowercase;
  }

  .rotate-1 {
    margin-left: auto;
  }

  .rotate-2 {
    margin-left: auto;
    margin-right: auto;

  }

  .m-auto {
    width: 20rem;

  }

  .mr-16 {
    margin-right: 4rem;
    margin-left: auto;
  }
}

/* 企业文化 */
.culture-wrap {
  background: #FBFBFB;
  padding-left: 100px;
  box-sizing: border-box;
  margin-left: 12px;
  margin-right: 12px;
  position: relative;
}

@media screen and (max-width: 1500px) {
  .culture-wrap {
    width: auto;
  }
}





/* 合作洽谈 */
.section-content {
  margin-left: auto;
  margin-right: auto;
  width: 980px;
}

.section-content:after,
.section-content:before {
  content: " ";
  display: table;
}

.howto-section {
  width: 980px;
  margin: 0 auto;
}

#content {
  border: 0;
  box-shadow: none;
  margin-left: auto;
  margin-right: auto;
  width: 83.33333%;
  padding: 0 0 40px;
  color: #333;
  line-height: 1.45;
}

#content p {
  line-height: 1.52947;
  font-weight: 400;
  margin-top: 13px;

}

#content .pp {
  line-height: 1.52947;
  font-weight: 400;
  margin-top: 13px;

}

#content #howto-title:lang(zh-CN) {
  font-family: SF Pro SC, SF Pro Display, SF Pro Icons, PingFang SC, Helvetica Neue, Helvetica, Arial, sans-serif;
  line-height: 1.175;
}

#content h3 {
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.32px;
  line-height: 47px;
  padding-top: 40px;
}

#content .intro {
  margin-top: 0;
}

#content .intro p {
  font-size: 20px;
  line-height: 1.45455;
  font-weight: 300;
  letter-spacing: .016em;
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
  width: auto;
  margin-top: 17px;
  margin: 0.5em 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.2em;
  padding: 0 0 1px;
}

#content div {
  width: auto;
  box-sizing: border-box;
}

#content h4 {
  margin-top: 1.2em;
  font-size: 20px;
  line-height: 1.09375;
  font-weight: 500;
  letter-spacing: .011em;
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-style: normal;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

#content .to-strong {
  font-weight: 600;
  color: #0070c9;
}

#content .box_txt {
  font-size: 17px;
  line-height: 1.52947;
  font-weight: 400;
  letter-spacing: -.021em;
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
  margin-top: 13px;

}

.box_txt_tr {
  color: rgb(51, 51, 51);
}

#content .ul-3 .icon {
  width: 20px;
}

.li-e .left {
  float: left;
}

.ul-3 .icon span {
  width: 6px;
  display: block;
  background: #5f6464;
  height: 6px;
  border-radius: 50%;
  margin-top: 10px;
}

#content .ul-3 .txt {
  width: 770px;
  line-height: 25px;
  font-size: 14px;
}

.hr-box {
  margin-bottom: 30px;
}

/* 企业文化 */
.culture-wrap {
  background: #FBFBFB;
  padding-left: 100px;
  box-sizing: border-box;
  width: auto;
  margin-left: 12px;
  margin-right: 12px;
}

.culture-box {
  width: 100%;
  overflow: hidden;
  padding-bottom: 80px;
}

.culture-box::before,
.j-flx::before {
  visibility: hidden;
  clear: both;
  display: block;
  content: ".";
  height: 0
}

.culture-box .j-box {
  width: 100%;
  overflow: hidden;
  min-height: 610px;
}

.culture-box .j-box .pic {
  float: right;
  width: 60.2%;
  min-height: 610px;
  padding-left: 1%;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  /* background: #0070c9; */
}

.culture-box .j-box .pic img {
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
}

.culture-box .j-box .mess-box {
  width: 39.23%;
  float: left;
  margin-top: 56px;
}

.mess-box .label-box {
  width: auto;
  float: left;
}

.culture-box .j-box h3 {
  margin-bottom: 40px;
  font-size: 30px;
  color: #2a2e2e;
  font-family: 'PingFangSC-Regular',
    'helvetica neue',
    'tahoma',
    'PingFang SC',
    'microsoft yahei',
    'arial',
    'hiragino sans gb',
    'sans-serif',
    '-apple-system',
    'BlinkMacSystemFont',
    'Segoe UI',
    'Roboto',
    ' Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    ' Droid Sans',
    'Helvetica Neue',
    ' sans-serif';
  box-sizing: border-box;
  font-weight: normal;
}

.culture-box .b-box {
  padding-top: 0px;
  width: 100%;
  overflow: hidden;
}

.culture-box .item-title {
  font-size: 20px;
  color: #0052D9;
  letter-spacing: 0;
  line-height: 36px;
  margin-bottom: 8px;
  font-weight: 400;
}

.culture-box .boxx {
  width: 100%;
}

.culture-box .boxx .x-item {
  float: left;
  width: 100%;
  margin-bottom: 20px;
}

.culture-box .boxx .x-item h5 {
  font-size: 24px;
  color: #2A2E2E;
  letter-spacing: 0;
  margin-bottom: 6px;
  font-weight: 400;
}

.culture-box .boxx .x-item p {
  font-size: 16px;
  color: #2A2E2E;
  letter-spacing: 0;
  line-height: 29px;
}


/* 媒体-768px */
@media screen and (max-width: 920px) {
  .culture-wrap {
    padding-left: 0;
    padding-bottom: 72px;
  }

  .culture-box .j-box .pic img {
    width: 100%;
    position: relative;
    left: 0;
    top: 0;
    transform: translate(0, 0);
    margin-top: -5%;
  }

  .culture-box .j-box {
    min-height: auto;
  }

  .culture-box .j-box .pic {
    min-height: auto;
    width: 100%;
    padding-left: 0;
    float: left;

  }

  .pc-box {
    display: none
  }

  .culture-box .j-box .mess-box {
    width: 100%;
    float: left;
    padding: 0 24px;
    box-sizing: border-box;
  }
}

@media screen and (max-width:768px) {
  .section-content {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .howto-section {
    width: 88%;
    margin: 0 auto;
  }

  .brand-item {
    padding-top: 18px;
  }

  .mod-con,
  .wish {
    width: auto;
    margin: 0 12px;
  }

  .mission {
    background: #FBFBFB;
    /* padding-top: 48px; */
    padding-bottom: 70px;
    width: auto;
    position: relative;
    margin-top: 93px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
  }

  .mission .r-mess {
    display: flex;
    flex-direction: column;
    width: auto;

  }

  .mission .r-mess:before {
    left: -10px;
  }

  .mission .text-bg {
    width: auto;
    bottom: 30px;
    opacity: .11;
    left: 10%;
  }

  .mission .l-mess {
    margin-bottom: 20px;
    text-align: center;
  }

  .mission .l-mess .label {
    width: auto;
    margin: 0 auto;
  }

  .team {
    text-align: center;
    margin: auto;
  }

  .text-center {
    margin: auto;
    width: 20rem;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .pc-box {
    display: none;
  }

  .mobile-box {
    display: block;
  }

  .culture-wrap {
    margin: 0 12px;
    width: auto;
    background: none;
    padding: 0;
  }

  .culture-box {
    width: 100%;
    overflow: hidden;
    padding-bottom: 0;
  }

  .culture-box .j-box .mess-box {
    width: 100%;
  }

  .culture-box .j-box h3 {
    margin-bottom: 26px;
    line-height: 29px;
    text-align: left;
  }

  .culture-box .boxx .x-item {
    width: 100%;

  }

  .culture-box .boxx .x-item h5 {
    float: left;
    font-size: 15px;
    margin-bottom: 7px;
    margin-top: 2px;
  }

  .culture-box .boxx .x-item p {
    float: left;
    width: 85%;
    font-size: 13px;
    padding-left: 10px;
    color: #919797;
  }

  .j-flx {
    padding-bottom: 72px;
  }
}